.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  border-bottom: 1px solid #c3bebe;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  font-size: 24px;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 1rem;
}

.notifications-dropdown {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 300px; /* Adjust as needed */
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto; /* Enables scrolling if there are too many notifications */
}

.notification-item {
  margin-bottom: 16px;
  font-size: 0.8em; /* Adjust as needed */
}

.notification-chat {
  font-weight: bold;
  margin-bottom: 4px;
  color: #eb647c;
}

.notification-message {
  color: #333;
}

.notification-empty {
  text-align: center;
  color: #999;
  font-size: 0.9em;
}
